<div class="p-5">
  <h4 class="text-uppercase text-red-skr fw-bold mb-5">
    trending articles for you
  </h4>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    @for (article of articles; track article.id) {
    <div class="col">
      <div class="card border-0">
        <img
          [ngSrc]="article.img"
          class="card-img"
          [alt]="article.title"
          width="250"
          height="250"
        />
        <div class="card-body px-0">
          <h5 class="card-title fw-bold d-flex gap-2">
            {{ article.title }}
            <span class="material-symbols-outlined arrow-right">
              chevron_right
            </span>
          </h5>
          <p class="card-text">
            {{ article.description }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
