@import '../../../../../../public/styles/variables';
.card-title{
    cursor: pointer;
    .arrow-right{
        font-size: 25px;
        visibility: hidden;
    }
    
}


.card{
    &:hover{
        .card-title{

            .arrow-right{
                visibility:visible;
                }
                color: $red-skr;
        }
    }
}

.row:hover > :not(:hover){
    opacity: 0.5;
    filter: blur(5px);
    transition: all 0.3s ease-in-out;
}