<div class="p-5 services">
  <h4 class="text-uppercase text-red-skr fw-bold mb-5">
    your new favorite track
  </h4>
  <div class="row gap-4">
    @for (service of services; track service.id) {

    <div
      class="card card-service rounded-1 shadow-sm p-4 text-uppercase col-sm-2 justify-content-center align-items-center btn-red-skr"
    >
      <div>
        <span class="material-symbols-outlined card-icon">
          {{ service.icon }}
        </span>
      </div>

      <span>{{ service.title }}</span>
    </div>
    }
  </div>
</div>
