<div class="p-5 services">
  <h4 class="text-uppercase text-red-skr fw-bold mb-5">
    your new favorite track
  </h4>
  <div class="row gap-4">
    <div
      class="card card-service rounded-1 shadow-sm p-4 text-uppercase col-sm-2 justify-content-center align-items-center btn-red-skr"
    >
      <div>
        <span class="material-symbols-outlined card-icon">
          local_shipping
        </span>
      </div>

      <span>digital services</span>
    </div>
    <div
      class="card card-service rounded-1 shadow-sm p-4 text-uppercase col-sm-2 justify-content-center align-items-center btn-red-skr"
    >
      <div>
        <span class="material-symbols-outlined card-icon">
          sync_saved_locally
        </span>
      </div>

      <span>transport</span>
    </div>
    <div
      class="card card-service rounded-1 shadow-sm p-4 text-uppercase col-sm-2 justify-content-center align-items-center btn-red-skr"
    >
      <div>
        <span class="material-symbols-outlined card-icon"> conveyor_belt </span>
      </div>

      <span>contract logistics solutions</span>
    </div>
    <div
      class="card card-service rounded-1 shadow-sm p-4 text-uppercase col-sm-2 justify-content-center align-items-center btn-red-skr"
    >
      <div>
        <span class="material-symbols-outlined card-icon"> forklift </span>
      </div>

      <span>supply chain solutions</span>
    </div>
    <div
      class="card card-service rounded-1 shadow-sm p-4 text-uppercase col-sm-2 justify-content-center align-items-center btn-red-skr"
    >
      <div>
        <span class="material-symbols-outlined card-icon"> person_add </span>
      </div>

      <span>become one of us</span>
    </div>
    <div
      class="card card-service rounded-1 shadow-sm p-4 text-uppercase col-sm-2 justify-content-center align-items-center btn-red-skr"
    >
      <div>
        <span class="material-symbols-outlined card-icon"> group </span>
      </div>

      <span>who we are?</span>
    </div>
  </div>
</div>
