<div class="warehouse-container">
  <div class="warehouse-img"></div>
  <div class="warehouse-box">
    <div class="d-flex justify-content-center px-5">
      <div class="text-white warehouse-content">
        <div class="row">
          <div class="col-12 col-md-6 ms-auto">
            <span class="text-uppercase fw-semibold fs-6"
              >TRACK YOUR SHIPMENT</span
            >
            <div class="input-group mt-2 bg-white rounded-1 p-2 shadow">
              <input
                type="text"
                class="form-control border-0 rounded me-2"
                placeholder="Track by ID number"
              />
              <button class="btn btn-red-skr rounded-1 text-uppercase">
                Track
              </button>
            </div>
          </div>
          <div class="mt-5 col-12">
            <div class="bg-white rounded-1 py-3 px-4 shadow">
              <h5 class="text-uppercase fw-bold mb-2 text-red-skr">
                quote shipping
              </h5>
              <hr class="my-2 border-black border-2" />

              <ul
                class="list-unstyled mb-0 text-black fw-semibold d-flex gap-2"
              >
                <li
                  class="text-red-skr fw-bold border-red-skr border-bottom border-2"
                >
                  LAND
                </li>
                <li>AIR</li>
                <li>OCEAN</li>
              </ul>
              <div class="mt-4">
                <form>
                  <div>
                    <div class="d-flex justify-content-between">
                      <label class="fw-bold text-black mb-3">From </label>
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="switchFrom"
                        />
                        <label
                          class="form-check-label text-muted"
                          for="switchFrom"
                          >Pickup required</label
                        >
                      </div>
                    </div>

                    <div class="row gap-3 gap-md-0">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-select rounded-1" name="" id="">
                            <option value="">test</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <select class="form-select rounded-1" name="" id="">
                            <option value="">test</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <select class="form-select rounded-1" name="" id="">
                            <option value="">test</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mt-4">
                    <div class="d-flex justify-content-between">
                      <label class="fw-bold text-black mb-3">To </label>
                      <div class="form-check form-switch">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="switchTo"
                        />
                        <label
                          class="form-check-label text-muted"
                          for="switchTo"
                          >Delivered to recipient</label
                        >
                      </div>
                    </div>
                    <div class="row gap-3 gap-md-0">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="form-select rounded-1" name="" id="">
                            <option value="">test</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <select class="form-select rounded-1" name="" id="">
                            <option value="">test</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <select class="form-select rounded-1" name="" id="">
                            <option value="">test</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-end mt-4">
                    <button
                      class="btn btn-red-skr rounded-1 text-uppercase fw-bold"
                    >
                      get quote
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
